<html>
    <head>
        <title>HW Q1</title>
    </head>
    <body>
        {% with submit = get_flashed_messages() %}
            {% if submit %}
                <ul>
                    <li>{{submit[0]}}</li>
                </ul>
            {% endif%}
        {% endwith %}

        <h1>Welcome {{name}}!</h1>
        <a href="https://www.google.com">not google</a>
        <ul>
            {% for city in city_names %}
                <li>{{city}}</li>
            {% endfor %}
        </ul>
        <form action="/" method="POST">
            <label for="search">City Name</label><br/>
            <input type="search" name="input"> <br/><br/>
            <button type="submit" value="Submit">Submit</button>
        </form>
    </body>
</html>